@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: ui-monospace, Consolas, "Courier New", monospace;
  background: #ffffff;
  color: #000000;
}
